USE [master]
GO
/****** Object:  Database [Banka]    Script Date: 18.10.2022 18:45:10 ******/
CREATE DATABASE [Banka]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Banka', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ARERSQL\MSSQL\DATA\Banka.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Banka_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ARERSQL\MSSQL\DATA\Banka_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Banka].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Banka]
GO
/****** Object:  Table [dbo].[Adresler]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adresler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MüsteriId] [int] NOT NULL,
	[AdresDetay] [varchar](250) NOT NULL,
 CONSTRAINT [PK_Adresler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bilancolar]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bilancolar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MüsteriId] [int] NOT NULL,
	[Tarih] [datetime] NOT NULL,
	[Tutar] [money] NOT NULL,
 CONSTRAINT [PK_Bilancolar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GercekMüsteriler]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[GercekMüsteriler](
	[MüsteriId] [int] NOT NULL,
	[Ad] [varchar](50) NOT NULL,
	[Soyad] [varchar](50) NOT NULL,
	[TcKimlikNo] [char](11) NOT NULL,
 CONSTRAINT [PK_GercekMüsteriler] PRIMARY KEY CLUSTERED 
(
	[MüsteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Kanallar]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kanallar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Kanallar] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Müsteriler]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Müsteriler](
	[id] [int] NOT NULL,
	[MüsteriNo] [char](10) NOT NULL,
	[KanalId] [int] NULL,
 CONSTRAINT [PK_Müsteriler_] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sendikalar]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Sendikalar](
	[MusteriId] [int] NOT NULL,
	[Ad] [varchar](50) NULL,
 CONSTRAINT [PK_Sendikalar] PRIMARY KEY CLUSTERED 
(
	[MusteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TicariFaaliyetler]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicariFaaliyetler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GercekMüsteriId] [int] NOT NULL,
	[BaslangicTarih] [datetime] NULL,
 CONSTRAINT [PK_TicariFaaliyetler] PRIMARY KEY CLUSTERED 
(
	[GercekMüsteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TüzelMüsteri]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TüzelMüsteri](
	[MüsteriId] [int] NOT NULL,
	[Unvan] [varbinary](50) NOT NULL,
	[VergiNo] [char](10) NOT NULL,
 CONSTRAINT [PK_TüzelMüsteri] PRIMARY KEY CLUSTERED 
(
	[MüsteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TüzelMüsteriler]    Script Date: 18.10.2022 18:45:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TüzelMüsteriler](
	[MüsteriId] [int] NOT NULL,
	[VergiNo] [char](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_GercekMüsteriler_TcKimlikNo]    Script Date: 18.10.2022 18:45:10 ******/
ALTER TABLE [dbo].[GercekMüsteriler] ADD  CONSTRAINT [IX_GercekMüsteriler_TcKimlikNo] UNIQUE NONCLUSTERED 
(
	[TcKimlikNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Müsteriler_MüsteriNo]    Script Date: 18.10.2022 18:45:10 ******/
ALTER TABLE [dbo].[Müsteriler] ADD  CONSTRAINT [IX_Müsteriler_MüsteriNo] UNIQUE NONCLUSTERED 
(
	[MüsteriNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TicariFaaliyetler_GercekMusterı]    Script Date: 18.10.2022 18:45:10 ******/
ALTER TABLE [dbo].[TicariFaaliyetler] ADD  CONSTRAINT [IX_TicariFaaliyetler_GercekMusterı] UNIQUE NONCLUSTERED 
(
	[GercekMüsteriId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Müsteriler]  WITH CHECK ADD  CONSTRAINT [FK_Müsteriler_Kanallar] FOREIGN KEY([KanalId])
REFERENCES [dbo].[Kanallar] ([Id])
GO
ALTER TABLE [dbo].[Müsteriler] CHECK CONSTRAINT [FK_Müsteriler_Kanallar]
GO
ALTER TABLE [dbo].[Sendikalar]  WITH CHECK ADD  CONSTRAINT [FK_Sendikalar_Müsteriler] FOREIGN KEY([MusteriId])
REFERENCES [dbo].[Müsteriler] ([id])
GO
ALTER TABLE [dbo].[Sendikalar] CHECK CONSTRAINT [FK_Sendikalar_Müsteriler]
GO
ALTER TABLE [dbo].[TicariFaaliyetler]  WITH CHECK ADD  CONSTRAINT [FK_TicariFaaliyetler_GercekMüsteriler] FOREIGN KEY([GercekMüsteriId])
REFERENCES [dbo].[GercekMüsteriler] ([MüsteriId])
GO
ALTER TABLE [dbo].[TicariFaaliyetler] CHECK CONSTRAINT [FK_TicariFaaliyetler_GercekMüsteriler]
GO
USE [master]
GO
